/* Foundation Foundation Foundation Foundation Foundation Foundation  */
/* Foundation Foundation Foundation Foundation Foundation Foundation  */
/* Foundation Foundation Foundation Foundation Foundation Foundation  */
/* Foundation Foundation Foundation Foundation Foundation Foundation  */

html {
    width: 100vw;
    margin: 0;
    overflow-x: hidden;
}

body {
    background-color: #0F1A23;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
}

a, a:hover{
    text-decoration: none;
    color: inherit;
}    


.body-container {
    margin: auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 24px 0 24px;
}

#background {
    z-index: -50;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    top: 0;
}

.gradient {
    height: 100%;
    width: 100%;
}

#sunset {
    width: 100%;
}


.about-photo {
    width: 100%;
    margin: 30px 0 30px 0;
}

.navbar {
    padding: 30px 0 6px 0;
    z-index: 10;
}

nav {
    padding: 30px 0 6px 0;
    z-index: 20;
    overflow: auto;
}

.home-buttons {
    float: left;
}

.page-buttons {
float: right;
}

.hero {
    z-index: 10; 
    height: 70%;
    width: 100%;
    min-height: 580px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.flex-main { 
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.flex { 
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}


.case {
    margin: 36px 0 120px 0;
}

.case:hover {
    opacity:.8
}

.case-image {
    width: 100%;
    margin: 12px 0 0 0;
}

footer {
    height: 48px;
    display: flex;
    flex-direction: row;
    margin-bottom: 36px;
}


.left-footer {
    height: 48px;
    display: flex;
    flex-direction: row;
    margin: 120px 0 36px 0; 
}

.top-padding {
    padding-top: 60px;
}

.top-padding-2 {
    padding-top:12px;
}

.top-padding-3 {
    padding-top:24px;
}
.bottom-padding-2 {
    padding-bottom:12px;
}

.bottom-padding-3 {
    padding-bottom:24px;
}
.bottom-padding {
    padding-bottom: 60px;
}

.api-box {
    padding: 0 6px 0 0;
    margin: 12px 0 0 0;
}

.box-content {
    margin: 0 30px 0 30px;
}


.ao-bg {
    background: linear-gradient(#DBDFE8, #B3C0DE);
    height: 100%;
}


.api-bg {
    background: linear-gradient(#D7E1E5, #C1D8E3);
    height: 100%;
}

.deepdive-container {
    justify-content: space-between;
}

.about-space {
    height: 180px;
}

.left-text {
    padding: 0 0 0 0;
}

.social {
    padding: 72px 0 42px 0;
}

#social-button {
    margin: 0 42px 0 0;
}

.case-hero {
    padding: 180px 0 120px 0;

}

.full-width {
    width: 100%;
}

.case-summary {
    margin: 60px 0 0 0;
}

.roles-desktop {
    margin: 18px 0 0 0px;
    padding: 0 0 0 48px;
}

.roles {
    margin: 30px 0 0 0;
    padding-left: 0;
}

.write-up {
    margin-left: 0px;
    padding-left: 0;
}

.row-flex {
    display: flex;
    flex-direction: row;   
}

.half {
    width: 50%;
}

.third {
    width: 35%;
}

.padding-right {
    padding-right: 36px;
}

.padding-left {
    padding-left: 36px;  
}

.padding-center {
    padding: 0 18px 0 18px;
}

.no-padding {
    padding: 0;
}


/* Components Components Components Components Components */
/* Components Components Components Components Components */
/* Components Components Components Components Components */
/* Components Components Components Components Components */
/* Components Components Components Components Components */

.pw-component {
    width: 100%;
    border: solid 1px #3E4453;
    border-radius: 12px;
    padding: 30px 36px 30px 36px;
    background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
}
input[type=password] {
    border-radius: 3px;
    padding: 6px 0 6px 12px;
    border-color: #3E4453;
}

button {
    padding: 12px 36px 12px 36px;
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    border: none;
    color: #EEEEF8;
    background-color:#0D0D0E;
    border-radius: 3px;
}

button:hover {
    background-color:#1D2543;
}


/* Fonts Fonts Fonts Fonts Fonts Fonts Fonts Fonts*/
/* Fonts Fonts Fonts Fonts Fonts Fonts Fonts Fonts*/
/* Fonts Fonts Fonts Fonts Fonts Fonts Fonts Fonts*/
/* Fonts Fonts Fonts Fonts Fonts Fonts Fonts Fonts*/

p {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #47505F;
}

.staydark {
    color: #0C131F;
}

h3 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #3E4453;
    margin: 12px 0 24px 0;
}

h4 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: #3E4453;
    margin: 12px 0 24px 0;
}

h5 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #3E4453;
}

h6 {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
    color: #3E4453;
}

h2 {
    font-family: Work Sans;
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
    color: #47505F;
}

li {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 9px;
    color: #47505F;
}

.p2 {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #0C131F;
}


.dt {
    color: #EEEEF8;
}


#about-header {
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 12px;
    color: #2D2C45; 
}

.header {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding: 0 0 6px 0;

}


.button {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: #2D2C45;
    margin-left: 20px;
    padding: 0 2px 6px 2px;
}

.underline:hover, .active {
    border-bottom: 1px solid #2D2C45; 
    color: #2D2C45; 
}




#greeting {
    color: #2D2C45;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    align-items: center;
    justify-content: center;
    opacity: 0;
}



.fadein {
    opacity; 0;
}

.description {
    color: #2D2C45;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 36px;
}




.horizontal-center {
    text-align: center;
}

.corner-internet {
    max-width: 480px;
}

.dates {
    color: #5C6072;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.5;
}

.title {
    color: #2D2C45;
    font-family: 'Work Sans', sans-serif; 
    font-size: 32px;
    line-height: 42px;
    padding-bottom: 12px;
    font-weight: 600;
    text-align: center;

}


.case-description {
    color: #2D2C45;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    max-width: 660px;
    padding-bottom: 15px;
}

.company-title {
    color: #2D2C45;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 32px;
    width: 660px;
}

.case-header {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    margin: 0 0 12px 0;
    color: #2D2C45; 
}

.casestudy-description {
    color: #2D2C45;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
}


/* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */
/* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */
/* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */
/* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */
/* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */
/* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */ /* Fonts-DT */


.underline-dt:hover, .active-dt {
    border-bottom: 1px solid #EEEEF8; 
    color: #EEEEF8; 
}

.underline-dt {
    color: #EEEEF8; 
}

.header-dt {
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 6px;
    color: #EEEEF8; 
}

.header-dt:hover {
    border-bottom: 1px solid #EEEEF8; 
    color: #EEEEF8; 
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 6px;
}

.button-dt {
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: #EEEEF8; 
    margin-left: 20px;
    padding: 0 2px 6px 2px;
}

#active-dt-state{
    border-bottom: 1px solid #EEEEF8; 
    color: #EEEEF8; 
    font-family: 'Roboto Mono', monospace;
    font-size: 13px;
    color: #EEEEF8; 
    margin-left: 20px;
    padding: 0 2px 6px 2px;
}

#active-dt-about-state{
    border-bottom: 1px solid #EEEEF8; 
    color: #EEEEF8; 
    font-family: 'Work Sans', sans-serif;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 12px;
}

.button-dt:hover {
    border-bottom: 1px solid #EEEEF8; 
    color: #EEEEF8; 
}

#greeting-dt {
    color: #EEEEF8;
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 6px;
    align-items: center;
    justify-content: center;
}

.description-dt {
    color: #EEEEF8;
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 36px;
}


.title-dt {
    color: #EEEEF8;
    font-family: 'Work Sans', sans-serif; 
    font-size: 32px;
    line-height: 42px;
    padding-bottom: 12px;
    font-weight: 600;
    text-align: center;
}


.case-description-dt {
    color: #EEEEF8;
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    max-width: 660px;
    padding-bottom: 15px;
}


.dates-dt {
    color: #EEEEF8;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.5;
}


.company-title-dt {
    color: #EEEEF8;
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
    line-height: 32px;
    width: 660px;
}

.case-header-dt {
    font-family: 'Work Sans', sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 52px;
    margin: 0 0 12px 0;
    color: #EEEEF8;
}

.casestudy-description-dt {
    color: #EEEEF8;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}

#about-header-dt {
    font-family: 'Work Sans', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 12px;
    color: #EEEEF8;
}


/* Decorative Decorative Decorative Decorative Decorative */
/* Decorative Decorative Decorative Decorative Decorative */
/* Decorative Decorative Decorative Decorative Decorative */
/* Decorative Decorative Decorative Decorative Decorative */

.vertical-line {
    border-left: 1px solid #74729B;
    height: 180px;
    position: absolute;
    margin: 24px 0 24px 0;
    left: 50%;
}

#case-line {
    margin: 48px 0 120px 0;
    position: relative;
}

.sun {
    display: flex;
    justify-content: center;  
}

#circle {
    height: 54px;
    width: 54px;
    background-color: #ffffff;
    border-radius: 50%;
    margin-top: 126px;
    opacity: 0;
    position: absolute;
}

#moon {
    height: 42px;
    width: 42px; 
    top: 300px;
    position: absolute;
    opacity: 0;
}